.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h1 {
  font-family: sans-serif;
  background: #7289DA;
  color: white;
  border-radius: 5%;
  padding: 10px;
  margin: 5px;
  box-shadow: initial;
  text-transform: uppercase;
}

.content #logo {
  border-radius: 50%;
  height: 70%;
  width: 70%;
  margin: auto;
  margin-bottom: 10px;
  border: 2px solid;
}

.content h1:hover {
  font-size: 30px;
}