@import url("../node_modules/hover.css/css/hover-min.css");

/* #7289DA */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%
}

body {
  background:#2C2F33;
  background-size: cover;
}

body, button, input {
  font-family: 'Uni Sans Heavy', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  margin: 80px auto 0;
  max-width: 450px;
  width: 100%;
  align-items: center;
}

.hud {
  height: 50px;
  width: 100%;
  background: #7289DA;
}

.hud button {
  height: 100%;
  width: 15%;
  border: none;
  margin: auto;
  padding-bottom: none;
  background: none;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.5;
  text-transform: uppercase;
}

.hud a {
  height: 100%;
  width: 15%;
  border: none;
  margin: auto;
  padding-bottom: none;
  vertical-align: middle;
  background: none;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.5;
  text-transform: uppercase;
  text-decoration: none;
}

.hud #logo {
  opacity: 1;
}

.hud a:hover {
  opacity: 1;
}

.hud button:hover {
  opacity: 1;
}
